

    <section class="basket">

        <div class="eggs">
            <!-- Div container with the class 'eggs', used to group content for styling purposes -->

            <!-- Image element for displaying an image with the alt text 'Harry Potter' -->
            <img src="Potter.png" alt="Harry Potter">

            <h1>سلام</h1>
            <!-- Subheading introducing information about you -->
            <h2>About This Anas Dude...</h2>

            <p>
                Yes, it is I, Harry Potter.....
            </p>

            <video src="video.mp4" controls></video>
            <!-- The controls attribute provides play, pause, and volume control for the video -->
        </div>

    </section>


