<section class="basket d-flex align-items-center text-center py-5"> <!-- Centered, flexible section layout -->
    <div class="container">
        <div class="eggs">
            <!-- Image with Bootstrap's responsive class -->
            <img src="/images/Potter.png" alt="Harry Potter" class="img-fluid rounded-circle mb-4" style="width: 230px; height: auto;">
            <!--Bootstap's responsive class for titles-->
            <h1 class="display-4 text-primary">سلام</h1>
            <h2 class="my-4">About This Anas Dude...</h2>
            <!--Bootstrap's class responsive grid layout-->
            <p class="lead mb-4">
                Yes, it is I, Harry Potter.....
            </p>
            <!--Style elements being applied to the video componenet-->
            <div style="width: 800px; max-width: 1000px; margin: auto;">
                <div class="ratio ratio-4x3"> <!--Bootstrap's ratio class for standard viewing-->
                    <video src="/videos/video.mp4" controls></video>
                </div>
            </div>
            
        </div>
    </div>
</section>

