<!-- Header Partial to be included in layouts page-->
<header class="header"> <!-- Header section with logo and navigation -->
    <a href="/" class="logo">
        <img src="/images/image1.1.png" alt="kaws" width="53px">
    </a>
    <nav class="navbar">
        <a href="/" class="active">Home</a>
        <a href="/about">About Me</a>
        <a href="/projects">My Projects</a>
        <a href="/contact">Contact Me</a>
    </nav>
</header>
