<section class="home">
    <div class="home-content">
        <h1><span style="color: red;">你好</span>; I hope all is well!</h1>
        <h2>My Name Is Anas Hussain</h2>
        <h3>Welcome To My Very Own Website!</h3>
        <div class="btn-box">
            <a href="/about"><strong>Be Friends?</strong></a>
            <a href="/contact">Let's Talk</a>
        </div>
    </div>
</section>
